@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Outfit", sans-serif;
}

:root {
    --red: #cb051d;
    --pale: #fbfbf3;
    --black: #141414;
    --black-subheading: #1d1d1d;
    --grey: #6b6b6b;
    --light-grey: #d2d0ca;
    --lightest-grey: #e7e5de;
    --green: #4cd137;
    --yellow: #f9aa00c4;
}

body {
    width: 100%;
    background-color: var(--pale);
    position: relative;
    overflow-x: hidden;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    font-family: "sora";
    text-align: center;
    margin: 40px 0;
}

.artGallery {
    width: 90%;
    margin: 0 auto;
    background-color: var(--lightest-grey);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 35px 0;
}

.art-card {
    width: 350px;
    height: max-content;
    border-radius: 15px;
    background-color: var(--light-grey);
    padding: 20px;
    transition: 0.4s ease-in-out;
}


.gallery-grid {
    min-height: 58vh;
}

.art-card:hover {
    box-shadow: 0 0 40px 0 rgba(128, 128, 128, 0.836);
}

.art-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.art-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.art-details h3 {
    font-size: 1.7rem;
}


.price-availablity {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.price {
    font-size: 1.3rem;
    font-family: "sora";
    font-weight: 600;
}

.availability {
    background-color: var(--green);
    padding: 5px 10px;
    border-radius: 10px;
}

.art-card button {
    width: 100%;
    margin-top: 20px;
    background-color: var(--black);
    color: var(--pale);
    border: none;
    font-size: 1.3rem;
    padding: 15px;
    border-radius: 15px;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.art-card button:hover {
    background-color: var(--red);
}