<!-- Filename: gallery.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery - JeethuArts</title>
    <link rel="stylesheet" href="/assets/css/gallery.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="/assets/css/toastNotification.css">
    <link rel="icon" href="assets/images/titleLogo.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

</head>

<body>
    <div class="toast">
        <div class="toast-content">
            <i class="fas fa-solid fa-check check"></i>
            <i class="fa-solid fa-xmark xmark"></i>

            <div class="message">
                <span class="text text-1">Success</span>
                <span class="text text-2">Your changes has been saved</span>
            </div>
        </div>
        <i class="fa-solid fa-xmark close"></i>
        <div class="progress"></div>
    </div>
    <div class="container">
        <nav>
            <a href="/home"><img src="assets/images/JeethuArtsLogo.png" id="jeethuArtsLogo" alt="JeethuArtsLogo"></a>
            <div class="nav-menus">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/gallery" id="active">Gallery</a></li>
                    <li><a href="/admin" id="adminLink">Admin</a></li>
                    <li><a href="/home">Commisson</a></li>
                    <li><a href="/home#aboutme-section">About Me</a></li>
                    <li><a href="/home#feedback-section">Contact Me</a></li>
                </ul>
            </div>
            <div class="profile">
                <ul>
                    <li><a href="/api/users/logout" id="logoutLink" title="logout"><img
                                src="/assets/images/profile-pic-default-boy.png" alt="Profile-pic"></a></li>
                </ul>
            </div>
        </nav>

        <h1>Elevate Your Walls with Original Art</h1>
        <section class="artGallery">

            <div class="gallery-grid" id="artworks">
                <!-- art cards -->
            </div>
        </section>

        <footer>
            <p class="copyright">© 2025 JeethuArts. All rights reserved.</p>
        </footer>
    </div>

    <script>
        const params = new URLSearchParams(window.location.search);
        let loginmsg = false;
        if (params.get("loggedin") === "true") {
            loginmsg = true;
        }

        window.onload = function () {
            if (loginmsg == true) {
                popupSuccess("Success", "You have been logged In successfully!");
                setTimeout(() => {
                    window.history.replaceState({}, document.title, "/gallery");
                }, 2500);
            }
        };
        document.addEventListener("DOMContentLoaded", () => {
            fetch("/api/artworks")
                .then(response => response.json())
                .then(artworks => {
                    const container = document.getElementById("artworks");

                    artworks.forEach(art => {
                        const card = document.createElement("div");
                        card.className = "art-card";

                        card.innerHTML = `
                            <img src="/uploads/${art.ImagePath.split('/').pop()}" alt="${art.Title}">
                            <div class="art-details">
                                <h3 class="title">${art.Title}</h3>
                                <p class="description">${art.Description}</p>
                                <div class="price-availablity">
                                    <p class="availability">${art.IsAvailable ? 'Available' : 'Sold'}</p>
                                    <p class="price">₹ ${art.Price}</p>
                                </div>
                            </div>
                            <button type="button">Buy Now</button>
                        `;

                        container.appendChild(card);
                    });
                })
                .catch(err => {
                    console.error("Error loading artworks:", err);
                });
        });
    </script>


    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/toastNotification.js"></script>
</body>

</html>