<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JeethuArts</title>
    <link rel="stylesheet" href="/assets/css/gallery.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
</head>

<body>
    <div class="container">

        <nav>
            <a href="">LOGO</a>
            <div class="nav-menus">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/admin" id="adminLink">Admin</a></li>
                    <li><a href="">Commisson</a></li>
                    <li><a href="">About Me</a></li>
                    <li><a href="#feedback-section">Contact Me</a></li>
                </ul>
            </div>
            <div class="profile">
                <ul>
                    <li><a href="/api/users/logout" id="logoutLink"><img src="assets/images/profile-pic-default-boy.png"
                                alt="Profile-pic"></a></li>
                </ul>
            </div>
        </nav>

        <h1>Elevate Your Walls with Original Art</h1>
        <section class="artGallery">

            <div class="grid-container">
                <div class="art-card">
                    <img src="assets/Adheera - KGF2.png" alt="adheera">
                    <div class="art-details">
                        <h3 class="title">Adheera - KGF</h3>
                        <p class="description">Kolar Gold Fields Villan </p>
                        <div class="price-availablity">
                            <p class="availability">Available</p>
                            <p class="price">Rs 6000</p>
                        </div>
                    </div>
                    <button type="button">Buy Now</button>
                </div>

            </div>
        </section>
        <footer>
            <p class="copyright">© 2025 JeethuArts. All rights reserved.</p>
        </footer>
    </div>


    <script src="assets/js/script.js"></script>

</body>

</html>